@media screen and (max-width:576px) {
    body{
        background-color: black;
        margin: 0 auto;
       
          
    }   
  .navbar-main{
    margin-top: 20px;
    padding: 20px;
  }
    .hamburger-menu{
        display: block;
        
    }
    .side-bar{
        display: none;
        
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        
    }
    .banner-about{
      width: 100%;
    }
    .parent-habit{
      display: flex;
      flex-direction: column;
    }
    .extra-mile-img{
      width: 100%;

    }
    .bmi-head{
     margin-left: 30px;
    }
    .bmi-calc-chart{
      width: 100%;
    }
    .bmi-calc{
      width: 100%;
    }
    .card{
      grid-template-columns: repeat(1,1fr);
      
    }
    .footer-1-daddy{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .footer-1{
      width: 90%;
    
    }
    .footer-2{
      width: 90%;
      margin-left: 40px;
    }
    .footer-2-child{
      width: 100%;
    }
    .footer-center{
      justify-content: center;
      align-items: center;
    }
    .img-width{
      width: 60%;
    }
    .banner-shadow-1{
      left: 20px;
    }
    .banner-shadow-2{
    right: 10px;
    }
    .fashion-1{
      width: 300px;
    }
    .p-fashion{
      padding: 10px;
    }
    .fashion-2{
      width: 90%;
    }
}