
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}
.navbar-main{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;

}
body{
    background-color: black;
    max-width: 1200px;
    margin:0 auto;    
}
.banner{
    max-width: 1200px;
    margin:0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    
}
#shape{
    font-family: "Dancing Script", cursive;
}
.banner-button{
    color: white;
    padding: 16px 28px;
    border-radius: 30px;
    background-color: #E6533C;
  
}
#banner-2nd-button{
  border-color: white;
  background-color: black;
}
table,th,td{
    border: 2px solid #FFFFFF80;
    border-collapse: collapse;
    padding:10px 30px 10px 10px;
}
td{
    color: #FFFFFF80;
    font-size: 14px;
}

/* for responsive */
.hamburger-menu{
    display: none;
}
.side-bar{
    display: block;
}
.banner-about{
    width: 48%;
}
.parent-habit{
    display: flex;
    
}
.habit-img{
    display: flex; justify-content: center; align-items: center;
}
.extra-mile-img{
    width: 80%;
}
.bmi-calc-chart{
    width: 38%;
}
.bmi-calc{
    width: 55%;
}
.card{
    display: grid; grid-template-columns: repeat(3,1fr); gap: 20px;
}
.card-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-1{
    width: 60%;
}
.footer-2{
    width: 40%;
}
.footer-2-child{
    width: 48%;
}
.footer-center{
    justify-content: center;
    align-items: center;
}
.img-width{
    width: 100%;
}
.banner-shadow-1{
    padding: 20px 20px; display: flex; justify-content: center; align-items: center; gap: 10px; background-color: #ffffff2f; position: absolute; bottom: 50px; left: 50px; border-radius: 10px;
}
.banner-shadow-2{
    padding: 20px 20px;  background-color: #ffffff2f; position: absolute; top: 120px; right: 50px; border-radius: 10px;
}
.fashion{
    font-family: "GFS Didot", serif;
}

.fashion-1{
    width: 400px;
}
.p-fashion{
    padding: 50px;
}
.fashion-2{
    width: 40%;
}